{% extends 'base.html.twig' %}

{% block contenu %}
    {% for infosUser in infos %}
        {{ infosUser.username }}
    {% endfor %}
    {{ form_start(formModif) }}
                    <div class="username">
                        <label for="">Pseudo</label>
                        {{ form_widget(formModif.username, {'value' : app.user.userIdentifier}) }}
                    </div>
                    <div>
                        <label for="">Prénom</label>
                        {{ form_widget(formModif.prenom, {'value' : app.user.prenom}) }}
                    </div>
                    <div>
                        <label for="">Nom</label>
                        {{ form_widget(formModif.nom, {'value' : app.user.nom}) }}
                    </div>
                    <div>
                        <label for="">Téléphone</label>
                        {{ form_widget(formModif.telephone, {'value' : app.user.telephone}) }}
                    </div>
                    <div>
                        <label for="">Email</label>
                        {{ form_widget(formModif.email, {'value' : app.user.email}) }}
                    </div>
                    <div>
                        <label for="">Modifier mon mot de passe</label>
                        {{ form_widget(formModif.password, {'value' : app.user.password}) }}
                    </div>
                    <div>
                        <label for="">Campus</label>
                        {{ form_widget(formModif.campus, {'value' : app.user.campus}) }}
                    </div>
                        <button> Enregistrer</button>
                        <button> Annuler</button>
                        {{ form_end(formModif) }}
{% endblock %}

{% block title %}

{% endblock %}

