{% extends 'base.html.twig' %}

{% block contenu %}<h1>Suppression/désactivation de Compte</h1>

<div class="infos">
{# un user dans un users  #}
   
        <div class="container-fluid">
            <div class="row-cols-auto">

                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Campus</th>
                            <th scope="col">Actif</th>
                                <th scope="col">Administrateur</th>
                            <th scope="col" colspan="2">Actions</th>
                            <th scope="col">Rôle Utilisateur</th>
                            <th scope="col">Rôle Administrateur</th>
                        </tr>
                        </thead>

                            {% for user in users  %}
                                <tbody id="myTbody">
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.nom }}</td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.telephone }}</td>
                                    <td>{{ user.campus.nom }}</td>
                                    <td>
                                        {% if user.actif == 0 %}
                                            <i class="fas fa-battery-empty"></i>
                                        {% else %}
                                            <i class="fas fa-battery-full"></i>
                                        {% endif %}
                                    </td>
                                    <td>{% if user.roles[0] == 'ROLE_ADMIN' %}
                                            <i class="fas fa-check-square"></i>
                                            {% else %}
                                            <i class="fas fa-times-circle"></i>
                                        {% endif %}

                                    </td>
                                    <td>
                                        {% if user.actif == 0 %}
                                            <a href="{{ path('admin_setActivity', {'id': user.id}) }}">Rendre actif</a>
                                        {% else %}
                                            <a href="{{ path('admin_setActivity', {'id': user.id}) }}">Rendre inactif</a>
                                        {% endif %}
                                    </td>
                                <td>
                                    <a href="{{ path('admin_delete', {'id': user.id}) }}"><i class="far fa-trash-alt"></i></a>
                                </td>
                                    <td>
                                        {% if  user.roles[0] == 'ROLE_ADMIN'  %}
                                            <a href="{{ path('admin_role', {'id': user.id}) }}">Passer utilisateur</a>
                                        {% else %}
                                            <a href="{{ path('admin_role', {'id': user.id}) }}">Passer admin</a>
                                        {% endif %}
                                    </td>
                            </tbody>

                            {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    {{ form_start(form) }}
<div class="user">
    <div class="container-fluid">
        <div class="row-cols-auto">

            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Campus</th>
                        <th scope="col">Mot de passe</th>
                        <th scope="col">Agree terms</th>

                    </tr>
                    </thead>
                    <tbody id="myTbody">
                    </tbody>
                    <td>{{ form_widget(form.username) }}
                    </td>
                    <td>
                        {{ form_widget(form.nom) }}
                    </td>

                    <td>
                        {{ form_widget(form.prenom) }}
                    </td>
                    <td>
                        {{ form_widget(form.email) }}
                    </td>
                    <td>
                        {{ form_widget(form.telephone) }}
                    </td>
                    <td>
                        {{ form_widget(form.campus) }}
                    </td>
                    <td>
                        {{ form_widget(form.plainPassword) }}
                    </td>

                    <td>
                        {{ form_widget(form.agreeTerms) }}
                    </td>

                    <td>
                        <button class="btn btn-secondary">Ajouter</button>
                    </td>


                </table>
            </div>
        </div>
    </div>
</div>
    {{ form_end(form) }}




</div>
    <div class="container">
        <div class="row">
            <div>
                <label for="">Fichier csv : </label>
                <input type="file">
            </div>
        </div>
    </div>
{% endblock %}