{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/StyleParticipantSortie.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Profil de : {{ utilisateur.username }}{% endblock %}
{% block contenu %}
        {# On appelle l'image du profil qui se trouve dans le twig "infos" de l'utilisateur en quesion #}
        {% if app.user.image %}
            <img src="{{ asset(utilisateur.image) }}" class="image" id="img" alt=""/>
        {% endif %}
    {# On appelle les infos necessaires du profil de l'utilisateur en quesion
    qui se trouve dans le twig en question#}
<div class="infos">
    <div class="pseudo">
        <label for="">Pseudo : </label>
        {{ utilisateur.username }}
    </div>
    <div class="prenom">
        <label for="">Prénom : </label>
        {{ utilisateur.prenom }}
    </div>
    <div class="Nom">
        <label for="">Nom : </label>
        {{ utilisateur.nom }}
    </div>
    <div class="télephone">
        <label for="">Téléphone : </label>
        {{ utilisateur.telephone }}
    </div>
    <div class="email">
        <label for="">Email : </label>
        {{ utilisateur.email }}
    </div>
    <div class="Campus">
        <label for="">Campus : </label>
        {{ utilisateur.campus.nom }}
    </div>

    <div class="retour">
        <button onclick=" window.history.back();" class="btn-secondary">Retour</button>
    </div>
</div>
{% endblock %}