{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleDetailsSortie.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Hello MainController!{% endblock %}

{% block contenu %}

    <div class="titre">
        <h1>Afficher une sortie</h1>
    </div>
        <div class="detailsSortie">
            <div class="nomSortie">
                <label for="">Nom de la sortie :</label>
                {{ sortie.nom }}
            </div>
            <div class="dateSortie">
                <label for="">Date et heure de la sortie :</label>
                {{ sortie.dateHeureDebut | date}}
            </div>
            <div class="dateLimite">
                <label for="">Date limite d'inscription :</label>
                {{ sortie.dateLimiteInscription | date }}
            </div>
            <div class="nombrePlace">
                <label for="">Nombre de places :</label>
                {{ sortie.nbInscriptionsMax}}
            </div>
            <div class="duree">
                <label for="">Durée :</label>
                {{ sortie.duree  | date }}
            </div>
            <div class="description">
                <label for="">Descriptions et infos :</label>
                {{ sortie.infosSortie }}
            </div>
            <div class="campus">
                <label for="">Campus :</label>
               {{ sortie.campus.nom }}
            </div>
            <div class="lieu">
                <label for="">Lieu :</label>
                {{ sortie.Lieu.nom }}
            </div>
            <div class="rue">
                <label for="">Rue :</label>
                {{ sortie.Lieu.rue }}
            </div>
            <div class="cp">
                <label for="">Code postal :</label>
                {{ sortie.Lieu.ville.codepostal }}
            </div>
            <div class="latitude">
                <label for="">Latitude :</label>
                {{ sortie.Lieu.latitude }}
            </div>
            <div class="longitude">
                <label for="">Longitude :</label>
                {{ sortie.Lieu.longitude }}
            </div>

        </div>
    <div class="listeInscrits">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> d </td>
                    <td> d </td>
                {#  {% for personne in listePersonne %}

                                    {% endfor %}#}
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
