{% extends 'base.html.twig' %}

{% block contenu %}
    <h2>Annuler une sortie </h2>
{{ form_start(form) }}
    <div class="container">
        <p> Nom de la sortie : {{ sortie.nom }}</p>
        <p> Nom de la sortie : {{ sortie.dateHeureDebut | date }}</p>
        <p> Nom de la sortie : {{ sortie.campus.nom }}</p>
        <p> Nom de la sortie : {{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codepostal }}</p>

    </div>
    {{ form_widget(form) }}
    <button>Envoyer</button>
    {{ form_end(form) }}
{% endblock %}


