<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/icons8-globe-terrestre-30.png') }}" type="image/x-icon/png">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% block stylesheets %}

        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% block header %}

    <div class="nav">
        <nav class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="{{ path('liste_sorties') }}" class="navabar-brand">
                            <img src="{{ asset('img/icons8-globe-terrestre-30.png') }}" alt="logo" style="width: 40px;">
                        </a>
                    </li>

                    <li class="nav-item">
                        {% if app.user %}
                        <a class="nav-link" href="{{ path('profil_participant' ,{'id' : app.user.id}) }}">Mon Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout') }}">Se déconnecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sortie_nouvelle',{'pseudo' : app.user.id}) }}">Nouvelle sortie</a>
                    </li>

                        {% endif %}
                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_login') }}">Login</a>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('app_register') }}">S'inscrire</a>
                    {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('afficher_ville') }}">Villes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('afficher_campus') }}">Campus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{path('admin_utilisateur') }}">Administrateur</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    {% endblock %}
        {% block contenu %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
